*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    display: flex;
    flex-direction: row;
    
}

li{
    width: 5rem;
    height: 5rem;
    text-align: center;
    padding-top: 1.5rem;
    color: aliceblue;
    font-size: 2rem;
}
.l1{
    background-color: bisque;
}
.l2{
    background-color: red;
}
.l3{
    background-color: aquamarine;
}
.l4{
    background-color: aqua;
}
.l5{
    background-color: pink;
}